In [1]:
import pandas as pd

df = pd.read_csv('IMDB_100_Subset.csv')
df

                                               review  x1  x2  y
0   I viewed the first two nights before coming to...   2   1  0
1   It's been said several times - not least by me...   2   0  0
2   Without a doubt this is the WORSE comicbook mo...   1   4  0
3   Firstly, I would like to point out that people...   4   0  1
4   a compact crime drama with a good amount of ac...   3   0  1
..                                                ...  ..  .. ..
95  It wasn't until I saw Sidney Pollack in the pi...   0   3  0
96  For Daniel Auteuil, `Queen Margot' was much be...   1   8  0
97  I got this movie from eBay mainly because I'm ...   2   1  1
98  Preposterous sequel stretches credibility to a...   1   0  0
99  Bugs Bunny accidentally ends up at the South P...   3   0  0

[100 rows x 4 columns]